<?xml version="1.0" ?>

<robot name="adis16350">
  
  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    </link>
    
  <link name="board">
    <visual>
      <geometry>
        <box size="0.52 0.4 0.01"/>
      </geometry>
      <material name="zelena">
        <color rgba="0.1 0.5 0.1 1"/>
      </material>
    </visual>
    
  </link>
  <link name="imu">
    <visual>
      <geometry>
        <box size="0.21 0.21 0.21"/>
      </geometry>
      <material name="ciernaa">
        <color rgba="0.1 0.1 0.1 1"/>
      </material>
      <origin rpy="0 0 0" xyz="0.15 0 0.105"/>
    </visual>
  </link>
  
  <joint name="map_joint" type="fixed">
    <axis xyz="0 1 0"/>
    <parent link="base_link"/>
    <child link="board"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
   </joint>
   
  <joint name="base_link_joint" type="fixed">
    <axis xyz="0 1 0"/>
    <parent link="board"/>
    <child link="imu"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
   </joint>
</robot>

